@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100&family=Poppins:wght@100&family=Roboto:ital,wght@1,300&display=swap');
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    
}
html{
    scroll-behavior: smooth;
}

:root{
    --font-primary: "Montserrat";
    --font-secudary: "Roboto";
    --font-action: "Poppins"
} 

.hamburguer{
   width: 2rem;
   height: 2rem;
   position: fixed;
   z-index: 100;
   right: 1rem;
   top: 1rem;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   cursor: pointer;
   z-index: 160;
}
.line{
    width: 100%;
    height: .2rem;
    background-color: #fc4a1a;
    box-shadow: 0.1rem 0.1rem 1px black;
    color: white;
    animation: lines 1s;
}

header{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.img-wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: black;
}

.img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    animation: zoom 20s;
}

@keyframes zoom {
    0%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    }
}

.banner{
    position: absolute;
    top: 35%;
    left: 15%;
}

@keyframes moveBanner{
    0%{
        transform: translateY(10rem);
    }
    100%{
        transform: translateY(0rem);
    }
}

.sidebar{
    width: 20rem;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -20rem;
    background-color: black;
    border-left: #fc4a1a solid 1px;
    transition: all 0.8s;
    z-index: 150;
}

.show .sidebar{
    right: 0rem;
}

.menu{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu-item{
    text-align: center;
    padding-bottom: 1rem;

}

.menu-link{
    color: rgb(235, 104, 57);
    font-size: 2rem;
    transition: color 1s;
}

.menu-link:hover{
    color: rgb(214, 190, 55);
}

.social-media{
    position: absolute;
    bottom: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    font-size: 2rem;
}
.social-media i{
    color: #fc4a1a;
}

.social-media i:hover{
    color: #f7b017;
}

.banner h1{
    color: white;
    font-size: 4rem;
    font-weight: 200;  
    font-family:var(--font-primary);
    letter-spacing: 2px;
    text-shadow: 5px 3px 9px black;
    line-height: 4rem;
    margin-bottom: 2rem;
    animation: moveBanner 1s;
}

.banner p{
    margin-top: 20px;
    color: white;
    font-family: var(--font-secudary);
    font-size: 1.5rem;
    font-weight: 300;  
    letter-spacing: 3px;
    text-shadow: 5px 3px 9px black;
    margin-bottom: 1.5rem;
    animation: moveBanner 1.2s;
}

.conhecimentos{
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(6, 6rem);
    grid-gap: 1.5rem;
    width: 100%;
}

.conhecimento:nth-child(1){
    grid-column: 4/7;
    grid-row: 1/3;
}
.conhecimento:nth-child(2){
    grid-column: 3/6;
    grid-row: 3/5;
}

.conhecimento:nth-child(3){
    grid-column: 4/7;
    grid-row: 5/-1;
}

.conhecimento:nth-child(4){
    grid-column: 11/14;
    grid-row: 1/3;
}

.conhecimento:nth-child(5){
    grid-column: 12/15;
    grid-row: 3/5;
}

.conhecimento:nth-child(6){
    grid-column: 11/14;
    grid-row: 5/-1;
}
.sessao-conhecimento{
    background-color: rgb(0, 0, 0);
}

.sessao-header{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sessao-header h1{
    font-family: var(--font-primary);
    font-size: 3.4rem;
    color: white;
    border-bottom: solid 3px #f12711;
    margin-bottom: 1.5rem;
}

.conhecimento-header{
    display: flex;
    align-items: center;
    color: white;
    font-family: var(--font-action);
}

.conhecimento-header i{
    font-size: 2.5rem;
    color: rgb(235, 104, 57);
}

.conhecimento-header h3{
    font-size: 2rem;
    padding-left: 1rem;
}

.conhecimento-text{
    color: white;
    margin-top: 0.5rem;
    min-width: 220px;
    font-family: var(--font-secudary);
}

.conhecimento-img-wapper{
   grid-column: 5/10;
   grid-row: 1/6;
   width: 180%; 
   min-width: 220px;
}

.conhecimento-img-wapper img{
   object-fit: cover;
   width: 100%; 
}
.sessao-projetos{
   background-color: rgb(0, 0, 0);
   height: 100vh;
}
.projetos{
    display: flex;
    justify-content: space-evenly;
}

.card{
    width: 30rem;
    height: 45rem;
    position: relative;
}

.card-img-wrapper{
    width: 100%;
    height: 100%;
}

.card-img-wrapper img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 0.3rem;
    filter: blur(0.2px);
    transition: filter 1s;
}
.card:hover .card-img-wrapper img{
    filter: blur(2px);
}

.card-infor{
    position: absolute;
    bottom: 0%;
    padding: 2rem;
    text-shadow: 0.3 0.2rem 0.3rem rgb(0, 0, 0, 4);
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
}

.card-infor h2{
    font-family: var(--font-primary);
    font-size:  2rem;
    color: white;
}

.card-infor h3{
    font-family: var(--font-secudary);
    font-weight: bolder;
    color: #fc4a1a;
    margin-bottom: 1.5;
    font-size: 1.3rem;
    font-weight: 600;
}

.card-infor p{
    font-family: var(--font-action);
    font-weight: bolder;
    color: white;
    margin-bottom: 2rem;
    font-size: 1.5rem;
}

.card-infor button{
    font-family: var(--font-action) ;
    width: 8rem;
    height: 2.3rem;
    font-weight: 400;
    background-color: #fc4a1a;
    background: -webkit-linear-gradient(to left, #f7b017, #f12711);
    background: linear-gradient(to right, #f7b017, #f12711); 
    border: none;
    color: white;
    border-radius: 0.6rem;
    font-size: 1.2rem;
    box-shadow: 0.3 2rem 0.3rem  rgb(0, 0, 0, 4);
}

.card:hover .card-infor{
    bottom: 2rem;
    opacity: 1;
    visibility: visible;
}
.card:hover .card-img-wrapper{
    opacity: .4;
    background-color: black;
}

.video-conainer{
    background-color: black;
}

.video-format p{
    color: white;
    padding-left: 3rem;
    display: flex;
    align-items: center;
    height: 60%;    
    line-height: 1.5;
    font-family: var(--font-secudary);
    font-size: 1.8rem;
}

.video-format{
    display: flex;
    padding: 2rem;
    justify-content: space-evenly;
    height: 100vh;
    margin-top: 5rem;
}

footer{
    width: 100%;
    height: 8rem;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content{
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.footer-content p{
    font-family: var(--font-secudary);
    color: white;
    font-size: 1.2rem;
}

.social-list a{
    margin: 2rem;
    color: white;

}

.social-list ul {
    display: flex;
}